{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <title>Shop Home Page</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="{% static 'style/style.css'%}">
    </head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">

    <div class="background">
        <img src="https://img.icons8.com/?size=512&id=13014&format=png" alt="" width="50px" height="50px">
        <h1>MY PERSONAL SHOP</h1>
    </div>
    
    <div class="nav">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
    
                <button id="menu" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <a class="navbar-brand" href="{% url 'home-page' %}">HOME PAGE</a>
    
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome to Shop</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
    
                    <div class="offcanvas-body">

                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <a class="navbar-brand" href="#">SHOP</a>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Special Offert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tendency</a>
                            </li>

                            <a class="navbar-brand" href="#">CHART</a>
                            <li class="nav-item">
                                <a class="nav-link" href="#">My Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">My order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Refunds</a>
                            </li>

                            <a class="navbar-brand" href="#">SUPPORT</a>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Options</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Support
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Contact</a></li>
                                    <li><a class="dropdown-item" href="#">Question</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Submit a request</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
    
                <form class="d-flex" role="search" action="{% url 'search-homepage' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" name="textfield" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>

                <!-- Button trigger modal -->
                <button type="button" id="filter" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Filter
                </button>

                
                <a id="prefer" href="{% url 'list-prefer' %}">
                    <p>♥️</p>
                </a>
                

                <a href="{% url 'chart' %}" id="chart" class="navbar-toggler" type="button">
                    <img src="https://img.icons8.com/?size=512&id=13014&format=png" alt="" width="35px" height="40px">
                </a>

            </div>
        </nav>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'home-page' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select name="category-choice" value="{{ cat.category }}" class="form-select" aria-label="Default select example">
                            <option selected>Category</option>
                            {% for cat in category %}
                                <option>{{ cat.category }}</option>
                            {% endfor %}
                        </select>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="price-filter" value="all" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                All price
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="price-filter" value="" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            Min-price --> Max-price
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="price-filter" value="-" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Max-price --> Min-price
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="new" name="laste-updated-filter" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                            Last Updated
                            </label>
                        </div>

                        <select name="brand-filter" value="{{ b.brand }}" class="form-select" aria-label="Default select example">
                            <option selected>Brand</option>
                            {% for b in brand %}
                                <option>{{ b.brand }}</option>
                            {% endfor %}
                        </select>
                        
                        <select name="specific-category-filter" value="{{ t }}" class="form-select" aria-label="Default select example">
                            <option selected>Specific Category</option>
                            {% for t in tag %}
                                <option>{{ t }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="form-check">
                            <input name="all-item" class="form-check-input" type="checkbox" id="toggleCheckbox" >
                            <label class="form-check-label" for="toggleCheckbox">
                                All item
                            </label>
                        </div>
                        
                    
                        <script>
                            function toggleCheckbox() {
                                var checkbox = document.getElementById("toggleCheckbox");
                                var isChecked = checkbox.checked;
                                document.getElementById("result").innerText = isChecked ? "true" : "false";
                            }
                        </script>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-container">
            {% if message %}
                <p class="no-result">{{message}}</p>
            {% else %}
                {% for item in items %}
                    <div class="card" style="width: 18rem;">
                        {% if item.prefer == 'yes' %}
                            <form action="{% url 'list-prefer' %}" method="post">
                                {% csrf_token %}
                                <div class="add_to_prefer">
                                    <input type="hidden" name="Add" value="{{ item.prefer }}">
                                    <input type="hidden" name="NameItem" value="{{ item.NameItem }}">
                                    <button class="delete_button" type="submit">X</button>
                                </div>
                            </form>
                        {% else %}
                            <form action="{% url 'list-prefer' %}" method="post">
                                {% csrf_token %}
                                <div class="add_to_prefer">
                                    <input type="hidden" name="Add" value="{{ item.prefer }}">
                                    <input type="hidden" name="NameItem" value="{{ item.NameItem }}">
                                    <button class="prefer_button" type="submit">♥️</button>
                                </div>
                            </form>
                        {% endif %}
                        <img src="{{ item.ImageItem.url }}" height="300px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.NameItem }}</h5>
                            <p id="price" class="card-text" style="display: inline;">Price: {{ item.PriceItem }}</p>
                            <p id="available" class="card-text" style="display: inline;">Available: {{ item.available }}</p>
                            
                            <form action="{% url 'chart' %}" method="post" class="form_chart">
                                {% csrf_token %}
                                <input type="hidden" name="NameItem" value="{{ item.NameItem }}">
                                <button type="submit" id="price" class="btn btn-primary">Add to Chart</button>
                            </form>
                            
                            <a href="#" id="show" class="btn btn-outline-primary">Show Details</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>